n8n-workflows/spacekonceptrental-rag-ingestion.workflow.json
{
  "id": "5fa8a515-41f8-450d-9a16-13e62113ed1f",
  "name": "spacekonceptrental - KB Ingestion to Pinecone",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "# DRIVE TRIGGERS\n\n- Watches approved KB files created or updated in Google Drive.\n- Sends changed files into the ingestion path.\n\n## Required manual configuration:\n\n- **KB File Created**\n  - `folderToWatch.value`: Set this to the Google Drive folder that stores approved KB files.\n- **KB File Updated**\n  - `folderToWatch.value`: Set this to the same Google Drive folder that stores approved KB files.",
        "height": 652,
        "width": 516,
        "color": 5
      },
      "id": "20000000-0000-4000-8000-000000000901",
      "name": "Drive triggers group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -816,
        -256
      ]
    },
    {
      "parameters": {
        "content": "# CHUNK PREPARATION\n\n- Adds source metadata from the Google Drive file.\n- Loads and splits document content for retrieval.",
        "height": 652,
        "width": 292,
        "color": 2
      },
      "id": "20000000-0000-4000-8000-000000000902",
      "name": "Chunk preparation group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -256
      ]
    },
    {
      "parameters": {
        "content": "# VECTOR INDEXING\n\n- Creates embeddings for KB chunks.\n- Stores chunk vectors in the Pinecone KB namespace.\n\n## Required manual configuration:\n\n- **Insert Chunks into Pinecone**\n  - `pineconeIndex`: Set this to the Pinecone index used for vector storage.",
        "height": 940,
        "width": 580,
        "color": 3
      },
      "id": "20000000-0000-4000-8000-000000000903",
      "name": "Vector indexing group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -256
      ]
    },
    {
      "parameters": {
        "content": "# INGESTION LOG\n\n- Records ingestion status for review.\n- Keeps file, namespace, execution, and error details in Sheets.\n\n## Required manual configuration:\n\n- **Append KB Ingestion Log**\n  - `documentId.value`: Set this to the Google Sheets workbook used for ingestion logs.",
        "height": 636,
        "width": 420,
        "color": 4
      },
      "id": "20000000-0000-4000-8000-000000000904",
      "name": "Ingestion log group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        -256
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "SPACEKONCEPTRENTAL_GOOGLE_DRIVE_KB_FOLDER_ID",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000011",
      "name": "KB File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        48
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "SPACEKONCEPTRENTAL_GOOGLE_DRIVE_KB_FOLDER_ID",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000002",
      "name": "KB File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        208
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id || $json.fileId }}",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "20000000-0000-4000-8000-000000000003",
      "name": "Download KB File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -496,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prepare-chunk-metadata-1",
              "name": "source_file_id",
              "value": "={{ $json.id || $json.fileId || 'unknown_file_id' }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-2",
              "name": "source_file_name",
              "value": "={{ $json.name || $json.fileName || 'unknown_file_name' }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-3",
              "name": "source_mime_type",
              "value": "={{ $json.mimeType || 'unknown_mime_type' }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-4",
              "name": "google_drive_url",
              "value": "={{ $json.webViewLink || '' }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-5",
              "name": "modified_time",
              "value": "={{ $json.modifiedTime || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-6",
              "name": "ingested_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-7",
              "name": "namespace",
              "value": "spacekonceptrental_kb",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000004",
      "name": "Prepare Chunk Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        128
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000005",
      "name": "Load Document Text",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        32,
        368
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 150,
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000006",
      "name": "Recursive Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        32,
        560
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000007",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        432
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": "SPACEKONCEPTRENTAL_PINECONE_INDEX",
        "options": {
          "clearNamespace": false
        }
      },
      "id": "20000000-0000-4000-8000-000000000008",
      "name": "Insert Chunks into Pinecone",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        288,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 7000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prepare-ingestion-log-1",
              "name": "file_id",
              "value": "={{ $node[\"Prepare Chunk Metadata\"].json.source_file_id || $json.id || \"unknown_file_id\" }}",
              "type": "string"
            },
            {
              "id": "prepare-ingestion-log-2",
              "name": "file_name",
              "value": "={{ $node[\"Prepare Chunk Metadata\"].json.source_file_name || $json.name || \"unknown_file_name\" }}",
              "type": "string"
            },
            {
              "id": "prepare-ingestion-log-3",
              "name": "status",
              "value": "completed",
              "type": "string"
            },
            {
              "id": "prepare-ingestion-log-4",
              "name": "chunks_count",
              "value": "={{ $json.chunks_count || $json.chunkCount || \"see Pinecone upsert result\" }}",
              "type": "string"
            },
            {
              "id": "prepare-ingestion-log-5",
              "name": "namespace",
              "value": "spacekonceptrental_kb",
              "type": "string"
            },
            {
              "id": "prepare-ingestion-log-6",
              "name": "execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "prepare-ingestion-log-7",
              "name": "ingested_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "prepare-ingestion-log-8",
              "name": "error_message",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000009",
      "name": "Prepare Ingestion Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        128
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "SPACEKONCEPTRENTAL_LOGS_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "kb_ingestion",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $json.file_id }}",
            "file_name": "={{ $json.file_name }}",
            "status": "={{ $json.status }}",
            "chunks_count": "={{ $json.chunks_count }}",
            "namespace": "={{ $json.namespace }}",
            "execution_id": "={{ $json.execution_id }}",
            "ingested_at": "={{ $json.ingested_at }}",
            "error_message": "={{ $json.error_message }}"
          }
        },
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000010",
      "name": "Append KB Ingestion Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        832,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "KB File Created": {
      "main": [
        [
          {
            "node": "Download KB File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KB File Updated": {
      "main": [
        [
          {
            "node": "Download KB File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download KB File": {
      "main": [
        [
          {
            "node": "Prepare Chunk Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chunk Metadata": {
      "main": [
        [
          {
            "node": "Insert Chunks into Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Document Text": {
      "ai_document": [
        [
          {
            "node": "Insert Chunks into Pinecone",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Load Document Text",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Insert Chunks into Pinecone",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert Chunks into Pinecone": {
      "main": [
        [
          {
            "node": "Prepare Ingestion Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ingestion Log": {
      "main": [
        [
          {
            "node": "Append KB Ingestion Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Singapore",
    "errorWorkflow": "spacekonceptrental - Global Error Handler",
    "binaryMode": "separate"
  },
  "versionId": "2916ff01-eb08-41e5-9295-427b147e73ab"
}
