n8n-workflows/spacekonceptrental-rag-ingestion.workflow.json
{
  "id": "5fa8a515-41f8-450d-9a16-13e62113ed1f",
  "name": "SpaceKonceptRental - KB Ingestion to Pinecone",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "# DRIVE TRIGGERS\n\n- Watches approved KB files created or updated in Google Drive.\n- Tags each run as `created` or `updated` before downloading the file.\n- Removes duplicate file events inside the same trigger batch so new files still continue.\n- Sends changed files into the ingestion path.\n\n## Required manual configuration:\n\n- **KB File Created**\n  - `folderToWatch.value`: Set this to the Google Drive folder that stores approved KB files.\n- **KB File Updated**\n  - `folderToWatch.value`: Set this to the same Google Drive folder that stores approved KB files.",
        "height": 652,
        "width": 980,
        "color": 5
      },
      "id": "20000000-0000-4000-8000-000000000901",
      "name": "Drive triggers group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        -256
      ]
    },
    {
      "parameters": {
        "content": "# CHUNK PREPARATION\n\n- Adds source metadata from the Google Drive file.\n- Loads and splits document content for retrieval.",
        "height": 652,
        "width": 276,
        "color": 2
      },
      "id": "20000000-0000-4000-8000-000000000902",
      "name": "Chunk preparation group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -256
      ]
    },
    {
      "parameters": {
        "content": "# VECTOR INDEXING\n\n- Makes KB updates idempotent before writing fresh vectors.\n- Pinecone insert does not automatically replace old file chunks, so this section deletes stale vectors first.\n- Namespace is set upstream in `Prepare Chunk Metadata` and read by Pinecone as `={{ $json.namespace || 'SpaceKonceptRental_kb' }}`.\n\n## Pinecone cleanup subflow:\n\n- **Resolve Pinecone Index Host**: Gets the live Pinecone host for `pinecone_index_name`.\n- **Prepare Pinecone Delete Request**: Builds a `/vectors/delete` request for the current `source_file_id` or `source_file_name`.\n- **Delete Existing Pinecone File Chunks**: Removes old chunks for that file from the namespace. A first-run `Namespace not found` response is allowed because there are no old vectors yet.\n- **Restore Pinecone Ingestion Context**: Validates the delete result, throws for unexpected Pinecone delete errors, then restores the original document item so embedding and insert can continue normally.\n\n## Required manual configuration:\n\n- **Prepare Chunk Metadata**\n  - `pinecone_index_name`: Keep this aligned with the Pinecone index used for vector storage.\n- **Insert Chunks into Pinecone**\n  - `pineconeIndex`: Set this to the same Pinecone index used for vector storage.",
        "height": 940,
        "width": 1384,
        "color": 3
      },
      "id": "20000000-0000-4000-8000-000000000903",
      "name": "Vector indexing group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -320
      ]
    },
    {
      "parameters": {
        "content": "# INGESTION LOG\n\n- Records ingestion status for review.\n- Groups Pinecone chunk outputs back into one log row per source file.\n- Appends every ingestion event as a new audit row; repeated file events must not overwrite earlier rows.\n- Keeps explicit column mappings in `Append KB Ingestion Log`; changing the Sheets operation in the UI can clear them.\n- Uses RAW sheet writes so file names stay literal while chunk counts remain numeric.\n- Sets the `file_name` column hyperlink display to plain text after logging; `file_url` remains the clickable Drive URL.\n\n## Required manual configuration:\n\n- **Append KB Ingestion Log**\n  - `documentId.value`: Set this to the Google Sheets workbook used for ingestion logs.\n  - Sheet headers must include `file_url` and `event_type` if those columns are used.\n- **Disable File Name Hyperlinks**\n  - `url`: Keep the spreadsheet ID aligned with `Append KB Ingestion Log.documentId.value`.\n  - `range.sheetId` and column indexes: Keep these aligned with the `kb_ingestion` sheet and the `file_name` column.",
        "height": 940,
        "width": 820,
        "color": 4
      },
      "id": "20000000-0000-4000-8000-000000000904",
      "name": "Ingestion log group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        -320
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Q7HbxRiq6YLtr4DClJR6qSVqhNQ_PyCv",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Q7HbxRiq6YLtr4DClJR6qSVqhNQ_PyCv"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000011",
      "name": "KB File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        48
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Q7HbxRiq6YLtr4DClJR6qSVqhNQ_PyCv",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Q7HbxRiq6YLtr4DClJR6qSVqhNQ_PyCv"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000002",
      "name": "KB File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        208
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id || $json.fileId }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "20000000-0000-4000-8000-000000000003",
      "name": "Download KB File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -528,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prepare-chunk-metadata-1",
              "name": "source_file_id",
              "value": "={{ $json.id || $json.fileId || 'unknown_file_id' }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-2",
              "name": "source_file_name",
              "value": "={{ $json.name || $json.fileName || 'unknown_file_name' }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-3",
              "name": "source_mime_type",
              "value": "={{ $json.mimeType || 'unknown_mime_type' }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-4",
              "name": "google_drive_url",
              "value": "={{ $json.webViewLink || '' }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-5",
              "name": "modified_time",
              "value": "={{ $json.modifiedTime ? new Date($json.modifiedTime).toLocaleString('sv-SE', { timeZone: 'Asia/Singapore', hour12: false }) + ' SGT' : ($now.setZone('Asia/Singapore').toFormat('yyyy-MM-dd HH:mm:ss') + ' SGT') }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-6",
              "name": "ingested_at",
              "value": "={{ $now.setZone('Asia/Singapore').toFormat('yyyy-MM-dd HH:mm:ss') + ' SGT' }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-7",
              "name": "namespace",
              "value": "SpaceKonceptRental_kb",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-8",
              "name": "event_type",
              "value": "={{ $json.event_type || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-9",
              "name": "pinecone_index_name",
              "value": "spacekonceptrental-kb-rag",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000004",
      "name": "Prepare Chunk Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        128
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source_file_id",
                "value": "={{ $json.source_file_id }}"
              },
              {
                "name": "source_file_name",
                "value": "={{ $json.source_file_name }}"
              },
              {
                "name": "namespace",
                "value": "={{ $json.namespace || 'SpaceKonceptRental_kb' }}"
              },
              {
                "name": "google_drive_url",
                "value": "={{ $json.google_drive_url }}"
              },
              {
                "name": "event_type",
                "value": "={{ $json.event_type }}"
              }
            ]
          }
        }
      },
      "id": "20000000-0000-4000-8000-000000000005",
      "name": "Load Document Text",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        992,
        304
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 150,
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000006",
      "name": "Recursive Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        992,
        464
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000007",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        304
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "spacekonceptrental-kb-rag",
          "mode": "list",
          "cachedResultName": "spacekonceptrental-kb-rag"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "={{ $json.namespace || 'SpaceKonceptRental_kb' }}"
        }
      },
      "id": "20000000-0000-4000-8000-000000000008",
      "name": "Insert Chunks into Pinecone",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        880,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 7000
    },
    {
      "parameters": {
        "jsCode": "const metadataItems = $items('Prepare Chunk Metadata').map((item) => item.json || {});\nconst chunkItems = $input.all().map((item) => item.json || {});\nconst chunksByFileId = new Map();\n\nfunction driveFileUrl(fileId, existingUrl = '') {\n  if (existingUrl) return existingUrl;\n  if (!fileId || String(fileId).startsWith('unknown_file_')) return '';\n  return `https://drive.google.com/file/d/${fileId}/view`;\n}\n\nfunction plainSheetText(value = '') {\n  return String(value || '').trim() || 'unknown_file_name';\n}\n\nfunction singaporeTimestamp(date = new Date()) {\n  const parts = new Intl.DateTimeFormat(\"en-CA\", {\n    timeZone: \"Asia/Singapore\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    second: \"2-digit\",\n    hour12: false\n  }).formatToParts(date).reduce((acc, part) => {\n    if (part.type !== \"literal\") acc[part.type] = part.value;\n    return acc;\n  }, {});\n\n  return parts.year + \"-\" + parts.month + \"-\" + parts.day + \" \" + parts.hour + \":\" + parts.minute + \":\" + parts.second + \" SGT\";\n}\n\nfor (const chunk of chunkItems) {\n  const metadata = chunk.metadata || {};\n  const fileId = metadata.source_file_id || chunk.source_file_id || chunk.file_id;\n  if (!fileId) continue;\n  chunksByFileId.set(fileId, (chunksByFileId.get(fileId) || 0) + 1);\n}\n\nconst uniqueMetadataItems = [];\nconst seenMetadataKeys = new Set();\n\nfor (const metadata of metadataItems) {\n  const fileId = String(metadata.source_file_id || metadata.id || '').trim();\n  const fileName = String(metadata.source_file_name || metadata.name || '').trim().toLowerCase();\n  const key = fileId || fileName;\n\n  if (key && seenMetadataKeys.has(key)) continue;\n  if (key) seenMetadataKeys.add(key);\n\n  uniqueMetadataItems.push(metadata);\n}\n\nreturn uniqueMetadataItems.map((metadata, index) => {\n  const fileId = metadata.source_file_id || metadata.id || `unknown_file_${index + 1}`;\n  const rawFileName = metadata.source_file_name || metadata.name || 'unknown_file_name';\n  const fileUrl = driveFileUrl(fileId, metadata.google_drive_url);\n  let chunksCount = chunksByFileId.get(fileId);\n\n  if (chunksCount === undefined && metadataItems.length === 1) {\n    chunksCount = chunkItems.length;\n  }\n\n  return {\n    json: {\n      file_id: fileId,\n      file_name: plainSheetText(rawFileName),\n      file_url: fileUrl,\n      event_type: metadata.event_type || 'unknown',\n      status: 'completed',\n      chunks_count: chunksCount ?? '',\n      namespace: metadata.namespace || 'SpaceKonceptRental_kb',\n      execution_id: $execution.id,\n      ingested_at: singaporeTimestamp(),\n      error_message: ''\n    }\n  };\n});"
      },
      "id": "20000000-0000-4000-8000-000000000009",
      "name": "Prepare Ingestion Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        128
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ",
          "mode": "list",
          "cachedResultName": "RAG_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "kb_ingestion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $json.file_id }}",
            "file_name": "={{ $json.file_name }}",
            "file_url": "={{ $json.file_url }}",
            "event_type": "={{ $json.event_type }}",
            "status": "={{ $json.status }}",
            "chunks_count": "={{ $json.chunks_count }}",
            "namespace": "={{ $json.namespace }}",
            "execution_id": "={{ $json.execution_id }}",
            "ingested_at": "={{ $json.ingested_at }}",
            "error_message": "={{ $json.error_message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_url",
              "displayName": "file_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chunks_count",
              "displayName": "chunks_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "namespace",
              "displayName": "namespace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ingested_at",
              "displayName": "ingested_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "id": "20000000-0000-4000-8000-000000000010",
      "name": "Append KB Ingestion Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1664,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20000000-0000-4000-8000-000000000012-event-type",
              "name": "event_type",
              "value": "created",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000012",
      "name": "Tag Created KB Event",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20000000-0000-4000-8000-000000000013-event-type",
              "name": "event_type",
              "value": "updated",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000013",
      "name": "Tag Updated KB Event",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nconst output = [];\n\nfor (const item of $input.all()) {\n  const json = item.json || {};\n  const fileId = String(json.id || json.fileId || '').trim();\n  const fileName = String(json.name || json.fileName || '').trim().toLowerCase();\n  const key = fileId || fileName;\n\n  if (key && seen.has(key)) continue;\n  if (key) seen.add(key);\n\n  output.push(item);\n}\n\nreturn output;"
      },
      "id": "20000000-0000-4000-8000-000000000014",
      "name": "Filter Duplicate KB Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        128
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.pinecone.io/indexes/' + encodeURIComponent($json.pinecone_index_name || 'spacekonceptrental-kb-rag') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Pinecone-API-Version",
              "value": "2025-04"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "20000000-0000-4000-8000-000000000015",
      "name": "Resolve Pinecone Index Host",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const hostItems = $input.all();\nconst sourceItems = $items('Prepare Chunk Metadata');\n\nreturn hostItems.map((hostItem, index) => {\n  const sourceItem = sourceItems[index] || {};\n  const sourceJson = sourceItem.json || {};\n  const hostJson = hostItem.json?.body || hostItem.json || {};\n  const rawHost = hostJson.host || hostJson.database?.host || '';\n  const host = String(rawHost).replace(/^https?:\\/\\//, '').replace(/\\/$/, '');\n  const namespace = sourceJson.namespace || 'SpaceKonceptRental_kb';\n  const fileId = String(sourceJson.source_file_id || '').trim();\n  const fileName = String(sourceJson.source_file_name || '').trim();\n  const conditions = [];\n\n  if (!host) {\n    throw new Error('Pinecone index host was not returned by Resolve Pinecone Index Host');\n  }\n\n  if (fileId) conditions.push({ source_file_id: { $eq: fileId } });\n  if (fileName) conditions.push({ source_file_name: { $eq: fileName } });\n\n  if (!conditions.length) {\n    throw new Error('Cannot delete stale Pinecone vectors without source_file_id or source_file_name');\n  }\n\n  return {\n    json: {\n      ...sourceJson,\n      pinecone_index_host: host,\n      pinecone_delete_url: `https://${host}/vectors/delete`,\n      pinecone_delete_body: {\n        namespace,\n        filter: conditions.length === 1 ? conditions[0] : { $or: conditions }\n      }\n    },\n    binary: sourceItem.binary\n  };\n});"
      },
      "id": "20000000-0000-4000-8000-000000000016",
      "name": "Prepare Pinecone Delete Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.pinecone_delete_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Pinecone-API-Version",
              "value": "2025-04"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.pinecone_delete_body }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "20000000-0000-4000-8000-000000000017",
      "name": "Delete Existing Pinecone File Chunks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const deleteResults = $input.all();\nconst sourceItems = $items('Prepare Pinecone Delete Request');\n\nfor (let index = 0; index < deleteResults.length; index += 1) {\n  const result = deleteResults[index].json || {};\n  const statusCode = Number(result.statusCode || result.status || 200);\n  const body = result.body ?? result;\n  const bodyText = typeof body === 'string' ? body : JSON.stringify(body);\n  const message = typeof body === 'object' && body !== null ? String(body.message || body.error?.message || '') : bodyText;\n  const isSuccess = statusCode >= 200 && statusCode < 300;\n  const isFirstRunMissingNamespace = statusCode === 404 && /Namespace not found/i.test(message || bodyText);\n\n  if (!isSuccess && !isFirstRunMissingNamespace) {\n    const source = sourceItems[index]?.json || {};\n    const fileRef = source.source_file_name || source.source_file_id || `item ${index + 1}`;\n    throw new Error(`Pinecone delete failed for ${fileRef} (${statusCode}): ${bodyText}`);\n  }\n}\n\nreturn sourceItems.map((item) => ({\n  json: item.json,\n  binary: item.binary\n}));"
      },
      "id": "20000000-0000-4000-8000-000000000018",
      "name": "Restore Pinecone Ingestion Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"requests\": [\n    {\n      \"repeatCell\": {\n        \"range\": {\n          \"sheetId\": 0,\n          \"startRowIndex\": 1,\n          \"startColumnIndex\": 1,\n          \"endColumnIndex\": 2\n        },\n        \"cell\": {\n          \"userEnteredFormat\": {\n            \"numberFormat\": {\n              \"type\": \"TEXT\"\n            },\n            \"hyperlinkDisplayType\": \"PLAIN_TEXT\"\n          }\n        },\n        \"fields\": \"userEnteredFormat.numberFormat,userEnteredFormat.hyperlinkDisplayType\"\n      }\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "20000000-0000-4000-8000-000000000019",
      "name": "Disable File Name Hyperlinks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1872,
        128
      ]
    }
  ],
  "connections": {
    "KB File Created": {
      "main": [
        [
          {
            "node": "Tag Created KB Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KB File Updated": {
      "main": [
        [
          {
            "node": "Tag Updated KB Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download KB File": {
      "main": [
        [
          {
            "node": "Prepare Chunk Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chunk Metadata": {
      "main": [
        [
          {
            "node": "Resolve Pinecone Index Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Document Text": {
      "ai_document": [
        [
          {
            "node": "Insert Chunks into Pinecone",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Load Document Text",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Insert Chunks into Pinecone",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert Chunks into Pinecone": {
      "main": [
        [
          {
            "node": "Prepare Ingestion Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ingestion Log": {
      "main": [
        [
          {
            "node": "Append KB Ingestion Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Created KB Event": {
      "main": [
        [
          {
            "node": "Filter Duplicate KB Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Updated KB Event": {
      "main": [
        [
          {
            "node": "Filter Duplicate KB Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicate KB Files": {
      "main": [
        [
          {
            "node": "Download KB File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Pinecone Index Host": {
      "main": [
        [
          {
            "node": "Prepare Pinecone Delete Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Pinecone Delete Request": {
      "main": [
        [
          {
            "node": "Delete Existing Pinecone File Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Existing Pinecone File Chunks": {
      "main": [
        [
          {
            "node": "Restore Pinecone Ingestion Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Pinecone Ingestion Context": {
      "main": [
        [
          {
            "node": "Insert Chunks into Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append KB Ingestion Log": {
      "main": [
        [
          {
            "node": "Disable File Name Hyperlinks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Singapore",
    "errorWorkflow": "d7af97c3-9c86-47d2-a5de-548592fd9cce",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "08e6b3db-8354-45dc-bd42-773a65350a04"
}
