n8n-workflows/spacekonceptrental-rag-ingestion.workflow.json
{
  "id": "5fa8a515-41f8-450d-9a16-13e62113ed1f",
  "name": "SpaceKonceptRental - KB Ingestion to Pinecone",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "# DRIVE TRIGGERS\n\n- Watches approved KB files created or updated in Google Drive.\n- Tags each run as `created` or `updated` before downloading the file.\n- Removes duplicate file events inside the same trigger batch so new files still continue.\n- Sends changed files into the ingestion path.\n\n## Required manual configuration:\n\n- **KB File Created**\n  - `folderToWatch.value`: Set this to the Google Drive folder that stores approved KB files.\n- **KB File Updated**\n  - `folderToWatch.value`: Set this to the same Google Drive folder that stores approved KB files.",
        "height": 652,
        "width": 740,
        "color": 5
      },
      "id": "20000000-0000-4000-8000-000000000901",
      "name": "Drive triggers group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -256
      ]
    },
    {
      "parameters": {
        "content": "# CHUNK PREPARATION\n\n- Adds source metadata from the Google Drive file.\n- Loads and splits document content for retrieval.",
        "height": 652,
        "width": 292,
        "color": 2
      },
      "id": "20000000-0000-4000-8000-000000000902",
      "name": "Chunk preparation group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -256
      ]
    },
    {
      "parameters": {
        "content": "# VECTOR INDEXING\n\n- Creates embeddings for KB chunks.\n- Stores chunk vectors in the Pinecone KB namespace.\n- Namespace is set upstream in `Prepare Chunk Metadata` and read by Pinecone as `={{ $json.namespace || 'SpaceKonceptRental_kb' }}`.\n\n## Required manual configuration:\n\n- **Insert Chunks into Pinecone**\n  - `pineconeIndex`: Set this to the Pinecone index used for vector storage.",
        "height": 940,
        "width": 580,
        "color": 3
      },
      "id": "20000000-0000-4000-8000-000000000903",
      "name": "Vector indexing group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -256
      ]
    },
    {
      "parameters": {
        "content": "# INGESTION LOG\n\n- Records ingestion status for review.\n- Groups Pinecone chunk outputs back into one log row per source file.\n- Upserts by `file_id`, so repeated events update the existing row while new files keep appending.\n- Writes file names as plain text and Drive URLs as clickable links in Sheets.\n\n## Required manual configuration:\n\n- **Append KB Ingestion Log**\n  - `documentId.value`: Set this to the Google Sheets workbook used for ingestion logs.\n  - Sheet headers must include `file_url` and `event_type` if those columns are used.",
        "height": 636,
        "width": 420,
        "color": 4
      },
      "id": "20000000-0000-4000-8000-000000000904",
      "name": "Ingestion log group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        -256
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Q7HbxRiq6YLtr4DClJR6qSVqhNQ_PyCv",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Q7HbxRiq6YLtr4DClJR6qSVqhNQ_PyCv"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000011",
      "name": "KB File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        48
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Q7HbxRiq6YLtr4DClJR6qSVqhNQ_PyCv",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Q7HbxRiq6YLtr4DClJR6qSVqhNQ_PyCv"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000002",
      "name": "KB File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        208
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id || $json.fileId }}",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "20000000-0000-4000-8000-000000000003",
      "name": "Download KB File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -496,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prepare-chunk-metadata-1",
              "name": "source_file_id",
              "value": "={{ $json.id || $json.fileId || 'unknown_file_id' }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-2",
              "name": "source_file_name",
              "value": "={{ $json.name || $json.fileName || 'unknown_file_name' }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-3",
              "name": "source_mime_type",
              "value": "={{ $json.mimeType || 'unknown_mime_type' }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-4",
              "name": "google_drive_url",
              "value": "={{ $json.webViewLink || '' }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-5",
              "name": "modified_time",
              "value": "={{ $json.modifiedTime || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-6",
              "name": "ingested_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-7",
              "name": "namespace",
              "value": "SpaceKonceptRental_kb",
              "type": "string"
            },
            {
              "id": "prepare-chunk-metadata-8",
              "name": "event_type",
              "value": "={{ $json.event_type || 'unknown' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000004",
      "name": "Prepare Chunk Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        128
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source_file_id",
                "value": "={{ $json.source_file_id }}"
              },
              {
                "name": "source_file_name",
                "value": "={{ $json.source_file_name }}"
              },
              {
                "name": "namespace",
                "value": "={{ $json.namespace || 'SpaceKonceptRental_kb' }}"
              },
              {
                "name": "google_drive_url",
                "value": "={{ $json.google_drive_url }}"
              },
              {
                "name": "event_type",
                "value": "={{ $json.event_type }}"
              }
            ]
          }
        }
      },
      "id": "20000000-0000-4000-8000-000000000005",
      "name": "Load Document Text",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        272,
        304
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 150,
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000006",
      "name": "Recursive Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        272,
        464
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000007",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "spacekonceptrental-kb-rag",
          "mode": "list",
          "cachedResultName": "spacekonceptrental-kb-rag"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "={{ $json.namespace || 'SpaceKonceptRental_kb' }}"
        }
      },
      "id": "20000000-0000-4000-8000-000000000008",
      "name": "Insert Chunks into Pinecone",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        160,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 7000
    },
    {
      "parameters": {
        "jsCode": "const metadataItems = $items('Prepare Chunk Metadata').map((item) => item.json || {});\nconst chunkItems = $input.all().map((item) => item.json || {});\nconst chunksByFileId = new Map();\n\nfunction driveFileUrl(fileId, existingUrl = '') {\n  if (existingUrl) return existingUrl;\n  if (!fileId || String(fileId).startsWith('unknown_file_')) return '';\n  return `https://drive.google.com/file/d/${fileId}/view`;\n}\n\nfunction plainSheetText(value = '') {\n  const text = String(value || '').trim() || 'unknown_file_name';\n  const escaped = text.replace(/\"/g, '\"\"');\n  return '=\"' + escaped + '\"';\n}\n\nfunction singaporeTimestamp(date = new Date()) {\n  const parts = new Intl.DateTimeFormat(\"en-CA\", {\n    timeZone: \"Asia/Singapore\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    second: \"2-digit\",\n    hour12: false\n  }).formatToParts(date).reduce((acc, part) => {\n    if (part.type !== \"literal\") acc[part.type] = part.value;\n    return acc;\n  }, {});\n\n  return parts.year + \"-\" + parts.month + \"-\" + parts.day + \" \" + parts.hour + \":\" + parts.minute + \":\" + parts.second + \" SGT\";\n}\n\nfor (const chunk of chunkItems) {\n  const metadata = chunk.metadata || {};\n  const fileId = metadata.source_file_id || chunk.source_file_id || chunk.file_id;\n  if (!fileId) continue;\n  chunksByFileId.set(fileId, (chunksByFileId.get(fileId) || 0) + 1);\n}\n\nconst uniqueMetadataItems = [];\nconst seenMetadataKeys = new Set();\n\nfor (const metadata of metadataItems) {\n  const fileId = String(metadata.source_file_id || metadata.id || '').trim();\n  const fileName = String(metadata.source_file_name || metadata.name || '').trim().toLowerCase();\n  const key = fileId || fileName;\n\n  if (key && seenMetadataKeys.has(key)) continue;\n  if (key) seenMetadataKeys.add(key);\n\n  uniqueMetadataItems.push(metadata);\n}\n\nreturn uniqueMetadataItems.map((metadata, index) => {\n  const fileId = metadata.source_file_id || metadata.id || `unknown_file_${index + 1}`;\n  const rawFileName = metadata.source_file_name || metadata.name || 'unknown_file_name';\n  const fileUrl = driveFileUrl(fileId, metadata.google_drive_url);\n  let chunksCount = chunksByFileId.get(fileId);\n\n  if (!chunksCount && metadataItems.length === 1) {\n    chunksCount = chunkItems.length;\n  }\n\n  return {\n    json: {\n      file_id: fileId,\n      file_name: plainSheetText(rawFileName),\n      file_url: fileUrl,\n      event_type: metadata.event_type || 'unknown',\n      status: 'completed',\n      chunks_count: String(chunksCount || 'see Pinecone upsert result'),\n      namespace: metadata.namespace || 'SpaceKonceptRental_kb',\n      execution_id: $execution.id,\n      ingested_at: singaporeTimestamp(),\n      error_message: ''\n    }\n  };\n});"
      },
      "id": "20000000-0000-4000-8000-000000000009",
      "name": "Prepare Ingestion Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        128
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ",
          "mode": "list",
          "cachedResultName": "RAG_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "kb_ingestion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $json.file_id }}",
            "file_name": "={{ $json.file_name }}",
            "file_url": "={{ $json.file_url }}",
            "event_type": "={{ $json.event_type }}",
            "status": "={{ $json.status }}",
            "chunks_count": "={{ $json.chunks_count }}",
            "namespace": "={{ $json.namespace }}",
            "execution_id": "={{ $json.execution_id }}",
            "ingested_at": "={{ $json.ingested_at }}",
            "error_message": "={{ $json.error_message }}"
          },
          "matchingColumns": [
            "file_id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_url",
              "displayName": "file_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chunks_count",
              "displayName": "chunks_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "namespace",
              "displayName": "namespace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ingested_at",
              "displayName": "ingested_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "20000000-0000-4000-8000-000000000010",
      "name": "Append KB Ingestion Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        832,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20000000-0000-4000-8000-000000000012-event-type",
              "name": "event_type",
              "value": "created",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000012",
      "name": "Tag Created KB Event",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20000000-0000-4000-8000-000000000013-event-type",
              "name": "event_type",
              "value": "updated",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "20000000-0000-4000-8000-000000000013",
      "name": "Tag Updated KB Event",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        208
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const seen = new Set();\nconst output = [];\n\nfor (const item of $input.all()) {\n  const json = item.json || {};\n  const fileId = String(json.id || json.fileId || '').trim();\n  const fileName = String(json.name || json.fileName || '').trim().toLowerCase();\n  const key = fileId || fileName;\n\n  if (key && seen.has(key)) continue;\n  if (key) seen.add(key);\n\n  output.push(item);\n}\n\nreturn output;"
      },
      "id": "20000000-0000-4000-8000-000000000014",
      "name": "Filter Duplicate KB Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        128
      ]
    }
  ],
  "connections": {
    "KB File Created": {
      "main": [
        [
          {
            "node": "Tag Created KB Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KB File Updated": {
      "main": [
        [
          {
            "node": "Tag Updated KB Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download KB File": {
      "main": [
        [
          {
            "node": "Prepare Chunk Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chunk Metadata": {
      "main": [
        [
          {
            "node": "Insert Chunks into Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Document Text": {
      "ai_document": [
        [
          {
            "node": "Insert Chunks into Pinecone",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Load Document Text",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Insert Chunks into Pinecone",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert Chunks into Pinecone": {
      "main": [
        [
          {
            "node": "Prepare Ingestion Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ingestion Log": {
      "main": [
        [
          {
            "node": "Append KB Ingestion Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Created KB Event": {
      "main": [
        [
          {
            "node": "Filter Duplicate KB Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Updated KB Event": {
      "main": [
        [
          {
            "node": "Filter Duplicate KB Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicate KB Files": {
      "main": [
        [
          {
            "node": "Download KB File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Singapore",
    "errorWorkflow": "d7af97c3-9c86-47d2-a5de-548592fd9cce",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "7b210e47-ca39-464d-b814-5cb2a3b75ea4"
}
