n8n-workflows/spacekonceptrental-customer-support-agent.workflow.json
{
  "id": "15871bf4-6ed1-46e9-ab14-6ee3920c4633",
  "name": "SpaceKonceptRental - RAG Customer Support Agent",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "# RAG ANSWER\n\n- Runs the AI agent with Pinecone retrieval.\n- Retrieves from `kb_namespace`, which defaults to `SpaceKonceptRental_kb` and matches KB ingestion.\n- Keep namespace assignment controlled by workflow config, not free-form customer input.\n- Parses strict JSON for reply, logging, and routing.\n- AI/RAG errors use the agent error output and go to `Build Agent Failure Fallback`.\n\n## Required manual configuration:\n\n- **SpaceKonceptRental Knowledge Base**\n  - `pineconeIndex`: Set this to the Pinecone index used for retrieval.",
        "height": 1100,
        "width": 644,
        "color": 3
      },
      "id": "30000000-0000-4000-8000-000000000902",
      "name": "RAG answer group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -320
      ]
    },
    {
      "parameters": {
        "content": "# REPLY AND LOGGING\n\n- Sends the customer reply.\n- Updates the conversation row after the agent response is parsed.\n- If AI/RAG fails after the processing row is written, the fallback path sends a handoff reply and updates the same conversation row with `status` set to `failed`.\n\n## Required manual configuration:\n\n- **Upsert Conversation Completed**\n  - `documentId.value`: Set this to the Google Sheets workbook used for support logs.\n- **Upsert Conversation Failed**\n  - `documentId.value`: Set this to the same Google Sheets workbook used for support logs.",
        "height": 988,
        "width": 820,
        "color": 4
      },
      "id": "30000000-0000-4000-8000-000000000903",
      "name": "Reply and logging group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1392,
        -1104
      ]
    },
    {
      "parameters": {
        "content": "# FOLLOW-UP ROUTING\n\n- Routes leads, bookings, tickets, escalations, and unanswered items.\n- Writes each follow-up record after the main conversation row is completed.\n- Fallback failures are routed to escalation and unanswered-question handling so operator follow-up is visible.\n\n## Required manual configuration:\n\n- **Upsert Lead or Booking**\n  - `documentId.value`: Set this to the Google Sheets workbook used for lead and booking logs.\n- **Upsert Ticket**\n  - `documentId.value`: Set this to the Google Sheets workbook used for ticket logs.\n- **Send Escalation Alert**\n  - `sendTo`: Set this to the support mailbox for escalation alerts.\n- **Upsert Unanswered Question**\n  - `documentId.value`: Set this to the Google Sheets workbook used for unanswered question logs.",
        "height": 1164,
        "width": 836,
        "color": 6
      },
      "id": "30000000-0000-4000-8000-000000000904",
      "name": "Follow-up routing group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1392,
        -112
      ]
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "id": "30000000-0000-4000-8000-000000000002",
      "name": "When Chat Message Received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1184,
        336
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "normalise-input-1",
              "name": "message_id",
              "value": "={{ $json.message_id || $json.messageId || (($json.sessionId || $json.session_id || $json.chatId || 'session-' + $execution.id) + '-' + $now.toISO()) }}",
              "type": "string"
            },
            {
              "id": "normalise-input-2",
              "name": "session_id",
              "value": "={{ $json.sessionId || $json.session_id || $json.chatId || 'session-' + $execution.id }}",
              "type": "string"
            },
            {
              "id": "normalise-input-3",
              "name": "channel",
              "value": "={{ $json.channel || 'n8n_chat' }}",
              "type": "string"
            },
            {
              "id": "normalise-input-4",
              "name": "customer_name",
              "value": "={{ $json.customer_name || $json.name || '' }}",
              "type": "string"
            },
            {
              "id": "normalise-input-5",
              "name": "customer_email",
              "value": "={{ $json.customer_email || $json.email || '' }}",
              "type": "string"
            },
            {
              "id": "normalise-input-6",
              "name": "customer_phone",
              "value": "={{ $json.customer_phone || $json.phone || '' }}",
              "type": "string"
            },
            {
              "id": "normalise-input-7",
              "name": "message",
              "value": "={{ $json.chatInput || $json.message || $json.text || $json.body?.message || '' }}",
              "type": "string"
            },
            {
              "id": "normalise-input-8",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "normalise-input-9",
              "name": "execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "normalise-input-10",
              "name": "kb_namespace",
              "value": "SpaceKonceptRental_kb",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000003",
      "name": "Normalise Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "function redact(text = '') {\n  return String(text).trim()\n    .replace(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/gi, '[redacted-email]')\n    .replace(/\\b(?:\\+65\\s?)?[689]\\d{3}\\s?\\d{4}\\b/g, '[redacted-phone]')\n    .replace(/\\b[STFGM]\\d{7}[A-Z]\\b/gi, '[redacted-nric-fin]')\n    .replace(/\\b\\d{9,}\\b/g, '[redacted-id]');\n}\n\nfunction normaliseForDedupe(text = '') {\n  return redact(text).toLowerCase().replace(/\\s+/g, ' ').trim();\n}\n\nfunction hashText(text = '') {\n  let hash = 2166136261;\n  for (const char of text) {\n    hash ^= char.charCodeAt(0);\n    hash = Math.imul(hash, 16777619);\n  }\n  return (hash >>> 0).toString(36);\n}\n\nfunction dedupeKey(item, bucketOffset = 0) {\n  const bucketSizeMs = 2 * 60 * 1000;\n  const bucket = Math.floor(Date.now() / bucketSizeMs) + bucketOffset;\n  const channel = item.channel || 'n8n_chat';\n  const sessionId = item.session_id || item.sessionId || item.chatId || 'unknown_session';\n  const messageHash = hashText(normaliseForDedupe(item.message));\n  return [channel, sessionId, messageHash, bucket].join('|');\n}\n\nreturn items.map((item) => ({\n  json: {\n    ...item.json,\n    user_message_redacted: redact(item.json.message),\n    dedupe_key: dedupeKey(item.json),\n    dedupe_key_previous: dedupeKey(item.json, -1)\n  }\n}));"
      },
      "id": "30000000-0000-4000-8000-000000000004",
      "name": "Redact PII for Logs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        336
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ",
          "mode": "list",
          "cachedResultName": "RAG_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1611415797,
          "mode": "list",
          "cachedResultName": "conversations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit#gid=1611415797"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "session_id",
              "lookupValue": "={{ $json.session_id }}"
            },
            {
              "lookupColumn": "status",
              "lookupValue": "processing"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "id": "30000000-0000-4000-8000-000000000005",
      "name": "Lookup Conversation State",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -416,
        336
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "active-processing-row",
              "leftValue": "={{ $json.active_processing }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000006",
      "name": "Already Processing or Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        336
      ]
    },
    {
      "parameters": {
        "message": "I am still working on your previous message. Please give me a moment, then send again if needed.",
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000007",
      "name": "Duplicate Safe Reply",
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        352,
        160
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ",
          "mode": "list",
          "cachedResultName": "RAG_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1611415797,
          "mode": "list",
          "cachedResultName": "conversations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit#gid=1611415797"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $node[\"Redact PII for Logs\"].json.message_id }}",
            "session_id": "={{ $node[\"Redact PII for Logs\"].json.session_id }}",
            "channel": "={{ $node[\"Redact PII for Logs\"].json.channel }}",
            "customer_name": "={{ $node[\"Redact PII for Logs\"].json.customer_name }}",
            "customer_email": "={{ $node[\"Redact PII for Logs\"].json.customer_email }}",
            "customer_phone": "={{ $node[\"Redact PII for Logs\"].json.customer_phone }}",
            "user_message_redacted": "={{ $node[\"Redact PII for Logs\"].json.user_message_redacted }}",
            "bot_reply": "pending_ai_response",
            "intent": "pending",
            "confidence": "0",
            "status": "processing",
            "needs_escalation": "false",
            "lead_captured": "false",
            "ticket_id": "={{ '' }}",
            "booking_requested": "false",
            "source_titles": "={{ '' }}",
            "source_file_ids": "={{ '' }}",
            "execution_id": "={{ $node[\"Redact PII for Logs\"].json.execution_id }}",
            "created_at": "={{ $node[\"Redact PII for Logs\"].json.timestamp }}",
            "completed_at": "={{ '' }}",
            "dedupe_key": "={{ $node[\"Redact PII for Logs\"].json.dedupe_key }}"
          },
          "matchingColumns": [
            "message_id"
          ],
          "schema": [
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_phone",
              "displayName": "customer_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_message_redacted",
              "displayName": "user_message_redacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bot_reply",
              "displayName": "bot_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "needs_escalation",
              "displayName": "needs_escalation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_captured",
              "displayName": "lead_captured",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "booking_requested",
              "displayName": "booking_requested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_titles",
              "displayName": "source_titles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_file_ids",
              "displayName": "source_file_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000008",
      "name": "Upsert Conversation Processing",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        384
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "restore-processing-context-1",
              "name": "message_id",
              "value": "={{ $node[\"Redact PII for Logs\"].json.message_id }}",
              "type": "string"
            },
            {
              "id": "restore-processing-context-dedupe-key",
              "name": "dedupe_key",
              "value": "={{ $node[\"Redact PII for Logs\"].json.dedupe_key }}",
              "type": "string"
            },
            {
              "id": "restore-processing-context-2",
              "name": "session_id",
              "value": "={{ $node[\"Redact PII for Logs\"].json.session_id }}",
              "type": "string"
            },
            {
              "id": "restore-processing-context-3",
              "name": "channel",
              "value": "={{ $node[\"Redact PII for Logs\"].json.channel }}",
              "type": "string"
            },
            {
              "id": "restore-processing-context-4",
              "name": "customer_name",
              "value": "={{ $node[\"Redact PII for Logs\"].json.customer_name }}",
              "type": "string"
            },
            {
              "id": "restore-processing-context-5",
              "name": "customer_email",
              "value": "={{ $node[\"Redact PII for Logs\"].json.customer_email }}",
              "type": "string"
            },
            {
              "id": "restore-processing-context-6",
              "name": "customer_phone",
              "value": "={{ $node[\"Redact PII for Logs\"].json.customer_phone }}",
              "type": "string"
            },
            {
              "id": "restore-processing-context-7",
              "name": "message",
              "value": "={{ $node[\"Redact PII for Logs\"].json.message }}",
              "type": "string"
            },
            {
              "id": "restore-processing-context-8",
              "name": "user_message_redacted",
              "value": "={{ $node[\"Redact PII for Logs\"].json.user_message_redacted }}",
              "type": "string"
            },
            {
              "id": "restore-processing-context-9",
              "name": "timestamp",
              "value": "={{ $node[\"Redact PII for Logs\"].json.timestamp }}",
              "type": "string"
            },
            {
              "id": "restore-processing-context-10",
              "name": "execution_id",
              "value": "={{ $node[\"Redact PII for Logs\"].json.execution_id }}",
              "type": "string"
            },
            {
              "id": "restore-processing-context-11",
              "name": "kb_namespace",
              "value": "={{ $node[\"Redact PII for Logs\"].json.kb_namespace || 'SpaceKonceptRental_kb' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000024",
      "name": "Restore Processing Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        384
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to answer questions about SpaceKonceptRental products, furniture rental packages, pricing, rental process, delivery, pickup, policies, appointment booking, ticketing, escalation, and FAQs.",
        "pineconeIndex": {
          "__rl": true,
          "value": "spacekonceptrental-kb-rag",
          "mode": "list",
          "cachedResultName": "spacekonceptrental-kb-rag"
        },
        "topK": 6,
        "options": {
          "pineconeNamespace": "={{ $json.kb_namespace || 'SpaceKonceptRental_kb' }}"
        }
      },
      "id": "30000000-0000-4000-8000-000000000011",
      "name": "SpaceKonceptRental Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1136,
        432
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "function parseAgentOutput(value) {\n  if (typeof value === 'object' && value !== null) return value;\n  const text = String(value || '').trim();\n  try {\n    return JSON.parse(text);\n  } catch (error) {\n    const start = text.indexOf('{');\n    const end = text.lastIndexOf('}');\n    if (start >= 0 && end > start) return JSON.parse(text.slice(start, end + 1));\n    throw error;\n  }\n}\n\nfunction timestampForId(date = new Date()) {\n  return date.toISOString().replace(/[-:T]/g, '').slice(0, 8) + '-' + date.toISOString().replace(/[-:T]/g, '').slice(8, 14);\n}\n\nreturn items.map((item) => {\n  const original = $('Restore Processing Context').first().json || {};\n  const raw = item.json.output || item.json.text || item.json.response || item.json;\n  let parsed;\n  try {\n    parsed = parseAgentOutput(raw);\n  } catch (error) {\n    parsed = {\n      reply: 'I do not have that detail yet. I can help escalate this to the SpaceKonceptRental team.',\n      intent: 'unknown',\n      confidence: 0,\n      needs_escalation: true,\n      needs_human_followup: true,\n      lead_captured: false,\n      ticket_required: false,\n      booking_requested: false,\n      missing_fields: [],\n      lead: {},\n      ticket: {},\n      booking: {},\n      retrieval_summary: { source_titles: [], source_file_ids: [] }\n    };\n  }\n\n  const now = new Date();\n  const idTime = timestampForId(now);\n  const ticketRequired = Boolean(parsed.ticket_required);\n  const leadRequired = Boolean(parsed.lead_captured || parsed.booking_requested);\n\n  return {\n    json: {\n      ...original,\n      ...item.json,\n      agent_raw_output: raw,\n      reply: parsed.reply || 'I do not have that detail yet. I can help escalate this to the SpaceKonceptRental team.',\n      intent: parsed.intent || 'unknown',\n      confidence: Number(parsed.confidence || 0),\n      needs_escalation: Boolean(parsed.needs_escalation),\n      needs_human_followup: Boolean(parsed.needs_human_followup),\n      lead_captured: Boolean(parsed.lead_captured),\n      ticket_required: ticketRequired,\n      booking_requested: Boolean(parsed.booking_requested),\n      missing_fields: parsed.missing_fields || [],\n      lead: parsed.lead || {},\n      ticket: parsed.ticket || {},\n      booking: parsed.booking || {},\n      source_titles: (parsed.retrieval_summary?.source_titles || []).join(', '),\n      source_file_ids: (parsed.retrieval_summary?.source_file_ids || []).join(', '),\n      ticket_id: ticketRequired ? `SKR-TKT-${idTime}` : '',\n      lead_id: leadRequired ? `SKR-LEAD-${idTime}` : '',\n      completed_at: now.toISOString(),\n      unanswered_id: `SKR-UNANSWERED-${idTime}`\n    }\n  };\n});"
      },
      "id": "30000000-0000-4000-8000-000000000013",
      "name": "Parse Strict JSON Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        16
      ]
    },
    {
      "parameters": {
        "message": "={{ $json.reply }}",
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000014",
      "name": "Send Customer Reply",
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1456,
        -800
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ",
          "mode": "list",
          "cachedResultName": "RAG_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1611415797,
          "mode": "list",
          "cachedResultName": "conversations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit#gid=1611415797"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $json.message_id }}",
            "session_id": "={{ $json.session_id }}",
            "channel": "={{ $json.channel }}",
            "customer_name": "={{ $json.customer_name }}",
            "customer_email": "={{ $json.customer_email }}",
            "customer_phone": "={{ $json.customer_phone }}",
            "user_message_redacted": "={{ $json.user_message_redacted }}",
            "bot_reply": "={{ $json.reply }}",
            "intent": "={{ $json.intent }}",
            "confidence": "={{ $json.confidence }}",
            "status": "completed",
            "needs_escalation": "={{ $json.needs_escalation }}",
            "lead_captured": "={{ $json.lead_captured }}",
            "ticket_id": "={{ $json.ticket_id }}",
            "booking_requested": "={{ $json.booking_requested }}",
            "source_titles": "={{ $json.source_titles }}",
            "source_file_ids": "={{ $json.source_file_ids }}",
            "execution_id": "={{ $json.execution_id }}",
            "created_at": "={{ $json.timestamp }}",
            "completed_at": "={{ $json.completed_at }}",
            "dedupe_key": "={{ $json.dedupe_key }}"
          },
          "matchingColumns": [
            "message_id"
          ],
          "schema": [
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_phone",
              "displayName": "customer_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_message_redacted",
              "displayName": "user_message_redacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bot_reply",
              "displayName": "bot_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "needs_escalation",
              "displayName": "needs_escalation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_captured",
              "displayName": "lead_captured",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "booking_requested",
              "displayName": "booking_requested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_titles",
              "displayName": "source_titles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_file_ids",
              "displayName": "source_file_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000015",
      "name": "Upsert Conversation Completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        -640
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "lead-or-booking-required--1",
              "leftValue": "={{ String($json.lead_captured) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "lead-or-booking-required--2",
              "leftValue": "={{ String($json.booking_requested) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000025",
      "name": "Lead or Booking Required?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1488,
        272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-lead-or-booking-row-1",
              "name": "lead_id",
              "value": "={{ $json.lead_id }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-2",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-3",
              "name": "name",
              "value": "={{ $json.lead?.name || $json.customer_name || \"\" }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-4",
              "name": "email",
              "value": "={{ $json.lead?.email || $json.customer_email || \"\" }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-5",
              "name": "phone",
              "value": "={{ $json.lead?.phone || $json.customer_phone || \"\" }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-6",
              "name": "company",
              "value": "={{ $json.lead?.company || \"\" }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-7",
              "name": "rental_purpose",
              "value": "={{ $json.lead?.rental_purpose || \"\" }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-8",
              "name": "rental_start_date",
              "value": "={{ $json.lead?.rental_start_date || $json.booking?.preferred_date || \"\" }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-9",
              "name": "rental_duration",
              "value": "={{ $json.lead?.rental_duration || \"\" }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-10",
              "name": "items_needed",
              "value": "={{ $json.lead?.items_needed || \"\" }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-11",
              "name": "delivery_area",
              "value": "={{ $json.lead?.delivery_area || \"\" }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-12",
              "name": "budget",
              "value": "={{ $json.lead?.budget || \"\" }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-13",
              "name": "status",
              "value": "={{ $json.booking_requested ? \"booking_requested\" : \"new\" }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-14",
              "name": "source_channel",
              "value": "={{ $json.channel }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-15",
              "name": "created_at",
              "value": "={{ $json.completed_at }}",
              "type": "string"
            },
            {
              "id": "set-lead-or-booking-row-16",
              "name": "execution_id",
              "value": "={{ $json.execution_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000016",
      "name": "Set Lead or Booking Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        272
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ",
          "mode": "list",
          "cachedResultName": "RAG_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1752300547,
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit#gid=1752300547"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "session_id": "={{ $json.session_id }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "company": "={{ $json.company }}",
            "rental_purpose": "={{ $json.rental_purpose }}",
            "rental_start_date": "={{ $json.rental_start_date }}",
            "rental_duration": "={{ $json.rental_duration }}",
            "items_needed": "={{ $json.items_needed }}",
            "delivery_area": "={{ $json.delivery_area }}",
            "budget": "={{ $json.budget }}",
            "status": "={{ $json.status }}",
            "source_channel": "={{ $json.source_channel }}",
            "created_at": "={{ $json.created_at }}",
            "execution_id": "={{ $json.execution_id }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rental_purpose",
              "displayName": "rental_purpose",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rental_start_date",
              "displayName": "rental_start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rental_duration",
              "displayName": "rental_duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "items_needed",
              "displayName": "items_needed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_area",
              "displayName": "delivery_area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_channel",
              "displayName": "source_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000017",
      "name": "Upsert Lead or Booking",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2048,
        272
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ticket-required--1",
              "leftValue": "={{ String($json.ticket_required) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000026",
      "name": "Ticket Required?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1488,
        464
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-ticket-row-1",
              "name": "ticket_id",
              "value": "={{ $json.ticket_id }}",
              "type": "string"
            },
            {
              "id": "set-ticket-row-2",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "set-ticket-row-3",
              "name": "name",
              "value": "={{ $json.lead?.name || $json.customer_name || \"\" }}",
              "type": "string"
            },
            {
              "id": "set-ticket-row-4",
              "name": "email",
              "value": "={{ $json.lead?.email || $json.customer_email || \"\" }}",
              "type": "string"
            },
            {
              "id": "set-ticket-row-5",
              "name": "phone",
              "value": "={{ $json.lead?.phone || $json.customer_phone || \"\" }}",
              "type": "string"
            },
            {
              "id": "set-ticket-row-6",
              "name": "category",
              "value": "={{ $json.ticket?.category || \"other\" }}",
              "type": "string"
            },
            {
              "id": "set-ticket-row-7",
              "name": "summary",
              "value": "={{ $json.ticket?.summary || $json.intent || \"support_request\" }}",
              "type": "string"
            },
            {
              "id": "set-ticket-row-8",
              "name": "details",
              "value": "={{ $json.ticket?.details || $json.user_message_redacted || \"\" }}",
              "type": "string"
            },
            {
              "id": "set-ticket-row-9",
              "name": "urgency",
              "value": "={{ $json.ticket?.urgency || \"medium\" }}",
              "type": "string"
            },
            {
              "id": "set-ticket-row-10",
              "name": "status",
              "value": "new",
              "type": "string"
            },
            {
              "id": "set-ticket-row-11",
              "name": "created_at",
              "value": "={{ $json.completed_at }}",
              "type": "string"
            },
            {
              "id": "set-ticket-row-12",
              "name": "execution_id",
              "value": "={{ $json.execution_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000018",
      "name": "Set Ticket Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        464
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ",
          "mode": "list",
          "cachedResultName": "RAG_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1230651452,
          "mode": "list",
          "cachedResultName": "tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit#gid=1230651452"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticket_id": "={{ $json.ticket_id }}",
            "session_id": "={{ $json.session_id }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "category": "={{ $json.category }}",
            "summary": "={{ $json.summary }}",
            "details": "={{ $json.details }}",
            "urgency": "={{ $json.urgency }}",
            "status": "={{ $json.status }}",
            "created_at": "={{ $json.created_at }}",
            "execution_id": "={{ $json.execution_id }}"
          },
          "matchingColumns": [
            "ticket_id"
          ],
          "schema": [
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000019",
      "name": "Upsert Ticket",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2048,
        464
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "needs-escalation--1",
              "leftValue": "={{ String($json.needs_escalation) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000020",
      "name": "Needs Escalation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1488,
        672
      ]
    },
    {
      "parameters": {
        "sendTo": "SpaceKonceptRental@gmail.com",
        "subject": "=[ SpaceKonceptRental Support Alert ] Customer needs help: {{ $json.intent }}",
        "message": "=<p><strong>Session ID:</strong> {{ $json.session_id }}</p>\n<p><strong>Message ID:</strong> {{ $json.message_id }}</p>\n<p><strong>Contact ID:</strong> {{ $json.customer_email || $json.customer_phone || $json.customer_name || \"not_available\" }}</p>\n<p><strong>Customer:</strong> {{ $json.customer_name }}</p>\n<p><strong>Email:</strong> {{ $json.customer_email }}</p>\n<p><strong>Phone:</strong> {{ $json.customer_phone }}</p>\n<p><strong>Intent:</strong> {{ $json.intent }}</p>\n<p><strong>Confidence:</strong> {{ $json.confidence }}</p>\n<p><strong>Redacted Message:</strong> {{ $json.user_message_redacted }}</p>\n<p><strong>Bot Reply:</strong> {{ $json.reply }}</p>\n<p><strong>Ticket ID:</strong> {{ $json.ticket_id }}</p>\n<p><strong>Lead ID:</strong> {{ $json.lead_id }}</p>\n<p><strong>Sources:</strong> {{ $json.source_titles }}</p>\n<p><strong>Execution ID:</strong> {{ $json.execution_id }}</p>",
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000021",
      "name": "Send Escalation Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1760,
        672
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "unanswered-or-low-confidence--1",
              "leftValue": "={{ Number($json.confidence || 0) }}",
              "rightValue": 0.55,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "unanswered-or-low-confidence--2",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "unknown",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000027",
      "name": "Unanswered or Low Confidence?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1488,
        864
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-unanswered-row-1",
              "name": "id",
              "value": "={{ $json.unanswered_id }}",
              "type": "string"
            },
            {
              "id": "set-unanswered-row-2",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "set-unanswered-row-3",
              "name": "user_message_redacted",
              "value": "={{ $json.user_message_redacted }}",
              "type": "string"
            },
            {
              "id": "set-unanswered-row-4",
              "name": "reason",
              "value": "={{ Number($json.confidence || 0) < 0.55 ? \"low_confidence\" : \"unknown_intent\" }}",
              "type": "string"
            },
            {
              "id": "set-unanswered-row-5",
              "name": "intent",
              "value": "={{ $json.intent }}",
              "type": "string"
            },
            {
              "id": "set-unanswered-row-6",
              "name": "confidence",
              "value": "={{ $json.confidence }}",
              "type": "string"
            },
            {
              "id": "set-unanswered-row-7",
              "name": "source_titles",
              "value": "={{ $json.source_titles }}",
              "type": "string"
            },
            {
              "id": "set-unanswered-row-8",
              "name": "created_at",
              "value": "={{ $json.completed_at }}",
              "type": "string"
            },
            {
              "id": "set-unanswered-row-9",
              "name": "execution_id",
              "value": "={{ $json.execution_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000022",
      "name": "Set Unanswered Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        864
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ",
          "mode": "list",
          "cachedResultName": "RAG_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 878250399,
          "mode": "list",
          "cachedResultName": "unanswered_questions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit#gid=878250399"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "session_id": "={{ $json.session_id }}",
            "user_message_redacted": "={{ $json.user_message_redacted }}",
            "reason": "={{ $json.reason }}",
            "intent": "={{ $json.intent }}",
            "confidence": "={{ $json.confidence }}",
            "source_titles": "={{ $json.source_titles }}",
            "created_at": "={{ $json.created_at }}",
            "execution_id": "={{ $json.execution_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_message_redacted",
              "displayName": "user_message_redacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_titles",
              "displayName": "source_titles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000023",
      "name": "Upsert Unanswered Question",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2048,
        864
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "content": "# INTAKE AND PROCESSING GUARD\n\n- Receives chat messages and normalises input.\n- Writes a temporary processing row before AI/RAG output exists.\n- Looks up open processing rows for the same chat session and selects the freshest row still inside the guard window.\n- If another message arrives while that row is fresh, asks the user to wait instead of starting another run.\n- Completed or failed rows do not block later repeated questions.\n- `message_id` remains the unique audit row id.\n- `dedupe_key` is kept only as a diagnostic/audit hash, not as the customer-facing block condition.\n- Later AI/RAG fields use `={{ '' }}` on purpose so Sheets cells stay blank until the row is overwritten by the completed or failed path.\n\n## Required manual configuration:\n\n- **Lookup Conversation State**\n  - `documentId.value`: Set this to the Google Sheets workbook used for support logs.\n  - Conversations sheet headers must include exact `session_id`, `status`, and `dedupe_key` headers with no trailing spaces.\n- **Upsert Conversation Processing**\n  - `documentId.value`: Set this to the same Google Sheets workbook used for support logs.",
        "height": 988,
        "width": 1972,
        "color": 5
      },
      "id": "30000000-0000-4000-8000-000000000901",
      "name": "Intake and dedupe group",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1232,
        -208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are the SpaceKonceptRental Customer Support Agent.\n\nYour job:\n- Help customers with furniture rental questions.\n- Answer FAQs, operating hours, pricing, rental process, delivery/pickup, product/package questions, policies, and troubleshooting.\n- Help with appointment booking.\n- Create support tickets.\n- Escalate issues to the human team when required.\n- Capture leads by collecting contact details and rental requirements.\n\nKnowledge rules:\n- Your ONLY factual source is the retrieved SpaceKonceptRental knowledge base content from the Pinecone tool.\n- Do not use general knowledge or guess.\n- If the answer is not found in retrieved content, say you do not have that detail yet and offer to help escalate.\n- Never invent prices, dates, stock availability, furniture dimensions, rental terms, warranty terms, damage fees, delivery fees, discounts, or policies.\n- When giving facts, keep them concise and clear.\n- If retrieved chunks conflict, do not choose randomly. Tell the customer you need the team to confirm and escalate.\n\nConversation style:\n- Warm, helpful, concise.\n- Use Singapore/British English.\n- Do not be robotic.\n- Use light emojis only when natural.\n- Ask one focused follow-up question at a time.\n- Do not tell customers to reach out via the website, email, or WhatsApp when they are already chatting here. Ask for the missing details directly instead.\n\nEscalation rules:\nEscalate when:\n- The answer is not in the KB.\n- The customer is angry or dissatisfied.\n- The issue involves billing, refund, damage, complaint, urgent delivery, cancellation, or special pricing.\n- The customer asks to speak with a person.\n- The customer wants a custom quote and has provided enough details.\n\nLead capture rules:\nFor rental enquiries, collect name, email or phone, company if applicable, rental purpose, preferred rental start date and duration, furniture items or package needed, delivery area, and budget if offered.\n\nTicket rules:\nFor support tickets, collect full name, email or phone, issue category, one-line summary, detailed description, urgency, and preferred callback/contact method.\n\nBooking rules:\nFor appointment booking, collect name, email or phone, preferred date and time, appointment type, and notes/requirements.\n\nOutput rules:\n- Use the connected structured output parser.\n- The reply field must contain only natural customer-facing text, never JSON or internal metadata.\n- Keep routing fields truthful and consistent with the reply.",
          "enableStreaming": false
        }
      },
      "id": "30000000-0000-4000-8000-000000000009",
      "name": "SpaceKonceptRental AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        848,
        112
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\n    \"reply\",\n    \"intent\",\n    \"confidence\",\n    \"needs_escalation\",\n    \"needs_human_followup\",\n    \"lead_captured\",\n    \"ticket_required\",\n    \"booking_requested\",\n    \"missing_fields\",\n    \"lead\",\n    \"ticket\",\n    \"booking\",\n    \"retrieval_summary\"\n  ],\n  \"properties\": {\n    \"reply\": {\n      \"type\": \"string\"\n    },\n    \"intent\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"faq\",\n        \"pricing\",\n        \"booking\",\n        \"ticket\",\n        \"lead\",\n        \"escalation\",\n        \"handoff\",\n        \"unknown\"\n      ]\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1\n    },\n    \"needs_escalation\": {\n      \"type\": \"boolean\"\n    },\n    \"needs_human_followup\": {\n      \"type\": \"boolean\"\n    },\n    \"lead_captured\": {\n      \"type\": \"boolean\"\n    },\n    \"ticket_required\": {\n      \"type\": \"boolean\"\n    },\n    \"booking_requested\": {\n      \"type\": \"boolean\"\n    },\n    \"missing_fields\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"lead\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\n        \"name\",\n        \"email\",\n        \"phone\",\n        \"company\",\n        \"rental_purpose\",\n        \"rental_start_date\",\n        \"rental_duration\",\n        \"items_needed\",\n        \"delivery_area\",\n        \"budget\"\n      ],\n      \"properties\": {\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"email\": {\n          \"type\": \"string\"\n        },\n        \"phone\": {\n          \"type\": \"string\"\n        },\n        \"company\": {\n          \"type\": \"string\"\n        },\n        \"rental_purpose\": {\n          \"type\": \"string\"\n        },\n        \"rental_start_date\": {\n          \"type\": \"string\"\n        },\n        \"rental_duration\": {\n          \"type\": \"string\"\n        },\n        \"items_needed\": {\n          \"type\": \"string\"\n        },\n        \"delivery_area\": {\n          \"type\": \"string\"\n        },\n        \"budget\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"ticket\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\n        \"category\",\n        \"summary\",\n        \"details\",\n        \"urgency\"\n      ],\n      \"properties\": {\n        \"category\": {\n          \"type\": \"string\"\n        },\n        \"summary\": {\n          \"type\": \"string\"\n        },\n        \"details\": {\n          \"type\": \"string\"\n        },\n        \"urgency\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"booking\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\n        \"appointment_type\",\n        \"preferred_date\",\n        \"preferred_time\",\n        \"notes\"\n      ],\n      \"properties\": {\n        \"appointment_type\": {\n          \"type\": \"string\"\n        },\n        \"preferred_date\": {\n          \"type\": \"string\"\n        },\n        \"preferred_time\": {\n          \"type\": \"string\"\n        },\n        \"notes\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"retrieval_summary\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\n        \"used_kb\",\n        \"source_titles\",\n        \"source_file_ids\"\n      ],\n      \"properties\": {\n        \"used_kb\": {\n          \"type\": \"boolean\"\n        },\n        \"source_titles\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"source_file_ids\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "30000000-0000-4000-8000-000000000037",
      "name": "Agent Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1040,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000012",
      "name": "OpenAI Retrieval Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1216,
        592
      ]
    },
    {
      "parameters": {},
      "id": "30000000-0000-4000-8000-000000000028",
      "name": "Simple Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        1040,
        576
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "agent-failure-fallback-message-id",
              "name": "message_id",
              "value": "={{ $(\"Restore Processing Context\").first().json.message_id }}",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-dedupe-key",
              "name": "dedupe_key",
              "value": "={{ $(\"Restore Processing Context\").first().json.dedupe_key }}",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-session-id",
              "name": "session_id",
              "value": "={{ $(\"Restore Processing Context\").first().json.session_id }}",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-channel",
              "name": "channel",
              "value": "={{ $(\"Restore Processing Context\").first().json.channel }}",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-customer-name",
              "name": "customer_name",
              "value": "={{ $(\"Restore Processing Context\").first().json.customer_name }}",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-customer-email",
              "name": "customer_email",
              "value": "={{ $(\"Restore Processing Context\").first().json.customer_email }}",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-customer-phone",
              "name": "customer_phone",
              "value": "={{ $(\"Restore Processing Context\").first().json.customer_phone }}",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-message",
              "name": "message",
              "value": "={{ $(\"Restore Processing Context\").first().json.message }}",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-user-message-redacted",
              "name": "user_message_redacted",
              "value": "={{ $(\"Restore Processing Context\").first().json.user_message_redacted }}",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-reply",
              "name": "reply",
              "value": "Sorry, I had trouble checking the knowledge base just now. I will route this to the SpaceKonceptRental team for follow-up.",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-intent",
              "name": "intent",
              "value": "handoff",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-confidence",
              "name": "confidence",
              "value": "={{ 0 }}",
              "type": "number"
            },
            {
              "id": "agent-failure-fallback-needs-escalation",
              "name": "needs_escalation",
              "value": "={{ true }}",
              "type": "boolean"
            },
            {
              "id": "agent-failure-fallback-needs-human-followup",
              "name": "needs_human_followup",
              "value": "={{ true }}",
              "type": "boolean"
            },
            {
              "id": "agent-failure-fallback-lead-captured",
              "name": "lead_captured",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "id": "agent-failure-fallback-ticket-required",
              "name": "ticket_required",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "id": "agent-failure-fallback-booking-requested",
              "name": "booking_requested",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "id": "agent-failure-fallback-ticket-id",
              "name": "ticket_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-lead-id",
              "name": "lead_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-source-titles",
              "name": "source_titles",
              "value": "",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-source-file-ids",
              "name": "source_file_ids",
              "value": "",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-execution-id",
              "name": "execution_id",
              "value": "={{ $(\"Restore Processing Context\").first().json.execution_id }}",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-created-at",
              "name": "timestamp",
              "value": "={{ $(\"Restore Processing Context\").first().json.timestamp }}",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-completed-at",
              "name": "completed_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-unanswered-id",
              "name": "unanswered_id",
              "value": "={{ \"SKR-UNANSWERED-\" + $execution.id }}",
              "type": "string"
            },
            {
              "id": "agent-failure-fallback-error-message",
              "name": "agent_error_message",
              "value": "={{ $json.error?.message || $json.message || \"AI/RAG step failed before a reply could be generated.\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000029",
      "name": "Build Agent Failure Fallback",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        208
      ]
    },
    {
      "parameters": {
        "message": "={{ $json.reply }}",
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000030",
      "name": "Send Fallback Reply",
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1456,
        -448
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ",
          "mode": "list",
          "cachedResultName": "RAG_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1611415797,
          "mode": "list",
          "cachedResultName": "conversations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RhF1XDLluYhkB_d4dmODsSUfwqVGllXMgH4u3a1-6tQ/edit#gid=1611415797"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $json.message_id }}",
            "session_id": "={{ $json.session_id }}",
            "channel": "={{ $json.channel }}",
            "customer_name": "={{ $json.customer_name }}",
            "customer_email": "={{ $json.customer_email }}",
            "customer_phone": "={{ $json.customer_phone }}",
            "user_message_redacted": "={{ $json.user_message_redacted }}",
            "bot_reply": "={{ $json.reply }}",
            "intent": "={{ $json.intent }}",
            "confidence": "={{ $json.confidence }}",
            "status": "failed",
            "needs_escalation": "={{ $json.needs_escalation }}",
            "lead_captured": "={{ $json.lead_captured }}",
            "ticket_id": "={{ $json.ticket_id }}",
            "booking_requested": "={{ $json.booking_requested }}",
            "source_titles": "={{ $json.source_titles }}",
            "source_file_ids": "={{ $json.source_file_ids }}",
            "execution_id": "={{ $json.execution_id }}",
            "created_at": "={{ $json.timestamp }}",
            "completed_at": "={{ $json.completed_at }}",
            "dedupe_key": "={{ $json.dedupe_key }}"
          },
          "matchingColumns": [
            "message_id"
          ],
          "schema": [
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_phone",
              "displayName": "customer_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_message_redacted",
              "displayName": "user_message_redacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bot_reply",
              "displayName": "bot_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "needs_escalation",
              "displayName": "needs_escalation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_captured",
              "displayName": "lead_captured",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "booking_requested",
              "displayName": "booking_requested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_titles",
              "displayName": "source_titles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_file_ids",
              "displayName": "source_file_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "30000000-0000-4000-8000-000000000031",
      "name": "Upsert Conversation Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        -288
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        800,
        304
      ],
      "id": "a5a50856-c70f-4bce-8ac7-5d05179e3470",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        896,
        448
      ],
      "id": "e6739301-67bc-4a75-80f9-fcbe07374631",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "jsCode": "const maxProcessingAgeMs = 2 * 60 * 1000;\nconst now = Date.now();\n\nfunction startedAt(row) {\n  const parsed = Date.parse(row.created_at || row.timestamp || 0);\n  return Number.isFinite(parsed) ? parsed : 0;\n}\n\nconst active = items\n  .map((item) => item.json || {})\n  .filter((row) => row.status === 'processing')\n  .map((row) => ({ row, startedAt: startedAt(row) }))\n  .filter(({ startedAt }) => startedAt > 0 && now >= startedAt && now - startedAt < maxProcessingAgeMs)\n  .sort((a, b) => b.startedAt - a.startedAt)[0];\n\nif (!active) {\n  return [{ json: { active_processing: 'false' } }];\n}\n\nreturn [{ json: { ...active.row, active_processing: 'true' } }];"
      },
      "id": "30000000-0000-4000-8000-000000000036",
      "name": "Select Active Processing Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        336
      ]
    }
  ],
  "connections": {
    "When Chat Message Received": {
      "main": [
        [
          {
            "node": "Normalise Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise Input": {
      "main": [
        [
          {
            "node": "Redact PII for Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redact PII for Logs": {
      "main": [
        [
          {
            "node": "Lookup Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Conversation State": {
      "main": [
        [
          {
            "node": "Select Active Processing Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Processing or Completed?": {
      "main": [
        [
          {
            "node": "Duplicate Safe Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Conversation Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Conversation Processing": {
      "main": [
        [
          {
            "node": "Restore Processing Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Processing Context": {
      "main": [
        [
          {
            "node": "SpaceKonceptRental AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SpaceKonceptRental Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "SpaceKonceptRental AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse Strict JSON Response": {
      "main": [
        [
          {
            "node": "Send Customer Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Conversation Completed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lead or Booking Required?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ticket Required?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Needs Escalation?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Unanswered or Low Confidence?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead or Booking Required?": {
      "main": [
        [
          {
            "node": "Set Lead or Booking Row",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set Lead or Booking Row": {
      "main": [
        [
          {
            "node": "Upsert Lead or Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket Required?": {
      "main": [
        [
          {
            "node": "Set Ticket Row",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set Ticket Row": {
      "main": [
        [
          {
            "node": "Upsert Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Escalation?": {
      "main": [
        [
          {
            "node": "Send Escalation Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Unanswered or Low Confidence?": {
      "main": [
        [
          {
            "node": "Set Unanswered Row",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set Unanswered Row": {
      "main": [
        [
          {
            "node": "Upsert Unanswered Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SpaceKonceptRental AI Agent": {
      "main": [
        [
          {
            "node": "Parse Strict JSON Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Agent Failure Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Retrieval Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "SpaceKonceptRental Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "SpaceKonceptRental AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent Failure Fallback": {
      "main": [
        [
          {
            "node": "Upsert Conversation Failed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Fallback Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Needs Escalation?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Unanswered or Low Confidence?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SpaceKonceptRental AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Conversation Failed": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SpaceKonceptRental AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Select Active Processing Row": {
      "main": [
        [
          {
            "node": "Already Processing or Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "SpaceKonceptRental AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Singapore",
    "errorWorkflow": "d7af97c3-9c86-47d2-a5de-548592fd9cce",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "d0ba5654-c524-40cb-9b1d-7ae5ab2c1422"
}
